[target.thumbv7m-none-eabi]
runner = [
  "probe-rs",
  "run",
  "--chip",
  "STM32F103C6",
  "--log-format",
  "{t} {L} {s}",
]

rustflags = [
  "-C", "link-arg=-Tstm32f103c6.x",
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Tdefmt.x",
]

[target.thumbv7em-none-eabihf]
runner = [
  "probe-rs",
  "run",
  "--chip",
  "STM32G474RE",
  "--log-format",
  "{t} {L} {s}",
]

rustflags = [
  "-C", "link-arg=-Tstm32g474re.x",
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Tdefmt.x",
  "-C", "link-arg=--nmagic",
]

[build]
# target = "thumbv7m-none-eabi"
target = "thumbv7em-none-eabihf"

[env]
# DEFMT_LOG = "debug"
# DEFMT_LOG = "info"
DEFMT_LOG = "info"

[profile.release]
# symbols are nice and they don't increase the size on Flash
debug = true
# or "z"
opt-level = "s"
lto = "fat"

[profile.debug]
opt-level = "s"
lto = "fat"

# don't optimize the `cortex-m-rt` crate
[profile.dev.package.cortex-m-rt] # +
opt-level = 0 # +

# but do optimize all the other dependencies
[profile.dev.package."*"]
codegen-units = 1 # better optimizations
opt-level = "z"
